<!doctype html>
<html>

<head>
   <meta charset="UTF-8">
    <title>Flair It Up</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
   <link href="{{ url_for('static',filename = 'style.css') }}" rel="stylesheet" type="text/css"> -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--Put heading here-->
<div class="heading_tag">
    Flair It Up
    <img class="top_icon" src="aaa.png" alt="error">
</div>

<div class="formbox">
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Flair It Up:</legend>
        Enter a Reddit Post URL from <a href="https://reddit.com/r/india" style="color: white">here</a>:
        <input name="url" type="text" required>
        <br>
        <br>
        <input type="submit" class="btn btn-primary btn-block btn-large">



</fieldset>

</form>
</div>
<img class="bottom_logo" src="aaa.png" alt="error">
<br>
<div class="result" align="center">
    {% if result %}
    	<!--{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br> */-->
    	<br> Predicted flair:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>
</body>
</html>
